# J3 Interior Design - Environment Variables
MYSQL_ROOT_PASSWORD=change_this_root_password
WORDPRESS_DB_PASSWORD=change_this_db_password
J3_API_KEY=generate_a_secure_api_key
STRIPE_SECRET_KEY=sk_test_your_key
TWILIO_ACCOUNT_SID=your_twilio_sid
GOOGLE_MAPS_API_KEY=your_maps_key
